parameters:
  level: 8
  drupal:
    drupal_root: %currentWorkingDirectory%/web
  paths:
    - %currentWorkingDirectory%/web/modules/custom
    - %currentWorkingDirectory%/web/themes/custom
  excludePaths:
    - */node_modules/*
    - */vendor/*
includes:
  - %currentWorkingDirectory%/vendor/mglaman/phpstan-drupal/extension.neon